*{
    margin:0;
    padding:0;
}

body{
    
    background:#1c1c1c;
    color:white;
}

header{
    padding:5px 20px;
}

h1{
    text-align:center;
    
    padding:5px;
    border-radius: 5px 30px;
    /*box-shadow:5px 5px 10px #00000073;*/
    /*border:2px ridge;*/
    color:rgb(157, 255, 0);
    text-shadow:2px 2px 3px #0011ff, 4px 4px 2px black;
}

article{
    /*margin: 10px 20px*/
    padding:0px 10px;
}

input{
    background:none;
    border:none;
    border-bottom: 3px dotted;
}

#mt{
    text-align: center;
    border-bottom: 3px dotted rgb(202, 124, 6);
}
.bm{
    list-style-type:none;
    padding:5px 0px
}

a{
    color:#04ff00;
    text-decoration:none;
}

a:hover{
    color:#039b00;
    text-decoration:underline;
}
#notas{
    float:left;
    background:rgb(250, 244, 166);
    padding:18px 30px;
    margin-bottom:20px;
    color:black;
}

.cont-content{
    float:left;
    padding:18px 30px
}

section{
    margin:0px 10px
}
article{
    padding:15px 50px;
    
}

footer{
    clear:both;
}

#b1,#b2,#b3,#b4{
    width:80px;
    padding:2px 0px;
    text-align:center;
    border-bottom:3px dotted #03c000;
}

#m-space{
    padding:3px 0px;
}

#calcN, #calcR, #TRuser{
    width:100%;
    height: 25px;
    border-left:5px solid gray;
    border-right:5px solid gray;
}

#calcN{
    background: greenyellow;
    
}

#calcN:hover{
    border-left:5px solid orangered;
    border-right:5px solid orangered;
    
}

#TRuser{
    background:yellow;
}

#TRuser:hover{
    border-left:5px solid orangered;
    border-right:5px solid orangered;
}

#calcR{
    background:rgb(253, 178, 107);

}

#calcR:hover{
    border-left:5px solid orangered;
    border-right:5px solid orangered;
}


section{
    border-radius: 5px;
}

footer{
    text-align:center
}

.sTop{
    padding:10px;
    background: -webkit-linear-gradient(180deg,#c583c0,#5cb945,#379c86,#fdff7a);
}